<ion-view title="Cadastre-se">
    <ion-content padding="true" scroll="false" class="has-header center">
        <img class="logo" src="img/ionic.png" alt="Logo">
        <form name="cadastroForm" ng-submit="submitForm(data)" novalidate="novalidate">
            <ion-list>

                <label class="item item-input" ng-class="{'has-error':true}">
                    <span class="input-label">Nome</span>
                    <input name="nome"
                           type="text"
                           class="form-control"
                           placeholder="Digite seu nome"
                           ng-model="data.nome"
                           ng-minlength="5"
                           ng-maxlength="15"
                           required>
                </label>

                <div
                        class="form-helper assertive"
                        ng-messages="cadastroForm.nome.$error"
                        ng-if="cadastroForm.nome.$dirty || cadastroForm.$submitted"
                        role="alert">
                    <div ng-message="required">Campo obrigatório</div>
                    <div ng-message="minlength, maxlength">
                        Deve ter entre 5 e 15 caracteres
                    </div>
                </div>

            </ion-list>
            <button type="submit" class="button button-positive button-block ">Entrar</button>
        </form>

    </ion-content>
</ion-view>
